<div class="powerHome">
    <div class="powerContain">
        <div class="powerTitle">
            <h3>{{power1}}</h3>
            <span>{{power2}}</span>
        </div>
        <div class="powerBtn">
            <ul>
                <li>
                    <a >
                        <div class="powerBtn-img">
                            <img src="../../images/8_03.png">
                        </div>
                        <div class="powerBtn-text">
                            <h3>{{power3}}</h3>
                            <span>{{power4}}</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a ui-sref="switchSite">
                        <div class="powerBtn-img">
                            <img src="../../images/8_05.png">
                        </div>
                        <div class="powerBtn-text">
                            <h3>{{power6}}</h3>
                            <span>{{power7}}</span>
                        </div>
                    </a>
                </li>
                <!--<li>-->
                    <!--<div class="powerBtn-img">-->
                        <!--<img src="../../images/8_09.png">-->
                    <!--</div>-->
                    <!--<div class="powerBtn-text">-->
                        <!--<h3></h3>-->
                        <!--<span></span>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<div class="powerBtn-img">-->
                        <!--<img src="../../images/8_10.png">-->
                    <!--</div>-->
                    <!--<div class="powerBtn-text">-->
                        <!--<h3></h3>-->
                        <!--<span></span>-->
                    <!--</div>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
    <div class="powerBottom">
        <span>{{power5}}</span>
    </div>
</div>