<div class="powerSwitchSite">
    <div class="powerSite">
        <ul>
            <li>
                <div class="powerSite-img">
                    <img src="../../images/site1.png">
                </div>
                <div class="powerSite-text">
                    <h3>站点1</h3>
                </div>
            </li>
            <li>
                <div class="powerSite-img">
                    <img src="../../images/site1.png">
                </div>
                <div class="powerSite-text">
                    <h3>站点2</h3>
                </div>
            </li>
            <li>
                <div class="powerSite-img">
                    <img src="../../images/site1.png">
                </div>
                <div class="powerSite-text">
                    <h3>站点3</h3>
                </div>
            </li>
            <li>
                <div class="powerSite-img">
                    <img src="../../images/site1.png">
                </div>
                <div class="powerSite-text">
                    <h3>站点4</h3>
                </div>
            </li>
            <li>
                <div class="powerSite-img">
                    <img src="../../images/site1.png">
                </div>
                <div class="powerSite-text">
                    <h3>站点5</h3>
                </div>
            </li>
            <li>
                <div class="powerSite-img">
                    <img src="../../images/site1.png">
                </div>
                <div class="powerSite-text">
                    <h3>站点6</h3>
                </div>
            </li>
        </ul>
    </div>
</div>