<div class="example-channel localBottom-right-top-center">
    <ul class="tool-fileBtn">
        <!--<li>-->
        <!--<div class="tool-fileBtn-top">-->
        <!--<div class="tool-fileBtn-img">-->
        <!--<img src="../../images/biao.png">-->
        <!--</div>-->
        <!--<div class="tool-fileBtn-text">-->
        <!--<h3>频道1</h3>-->
        <!--</div>-->
        <!--</div>-->
        <!--</li>-->
    </ul>
</div>
<div class="localback">
    <div class="localback-body">
        <div class="examplePopup">
            <div class="examplePopup-top">
                <div class="examplePopup-title">
                    <div id="toolBar">
                        <div id="toolThree">
                            <a id="close" >
                                <img src="../../../common/image/e1.png">
                            </a>
                        </div>
                    </div>
                    <h3 class="language">
                        <img src="">
                        <span>新建存储区</span>
                    </h3>
                </div>
            </div>
            <div class="examplePopup-contain">
                <div class="examplePopup-center">
                    <div class="examplePopup-center-one">
                        <form class="examplePopup-form"  autocomplete="off">
                            <div class="form-list oneName">
                                <span style="letter-spacing: 4px">存储区名称</span>
                                <span>：</span>
                                <input type="text" >
                            </div>
                            <p class="formError-one formError judgeMessage1"></p>
                        </form>
                        <div class="creatMessage">
                            <h3>当前存储区用户设置</h3>
                            <div class="creatMessage-form">
                                <ul>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="examplePopup-center-tow">
                        <p>
                            <a>存储区名称：</a>
                            <span></span>
                        </p>
                        <p>
                            <a >绑定频道名：</a>
                            <span ></span>
                        </p>
                        <p>
                            <a >存储区用户：</a>
                            <span ></span>
                        </p>
                    </div>
                </div>
                <div class="examplePopup-bottom">
                    <a  class="examplePopup-cancel">取消</a>
                    <a  class="examplePopup-sure examplePopup-sure-fail">确定</a>
                    <span class="creatUserDeafult"></span>
                </div>
            </div>
        </div>
    </div>
</div>