<div class="example-channel localBottom-right-top-center">
    <ul class="tool-fileBtn">
        <!--<li>-->
            <!--<div class="tool-fileBtn-top">-->
                <!--<div class="tool-fileBtn-img">-->
                    <!--<img src="../../images/biao.png">-->
                <!--</div>-->
                <!--<div class="tool-fileBtn-text">-->
                    <!--<h3>频道1</h3>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
    </ul>
</div>
<div class="localback">
    <div class="localback-body">
        <div class="examplePopup">
            <div class="examplePopup-top">
                <div class="examplePopup-title">
                    <div id="toolBar">
                        <div id="toolThree">
                            <a id="close" >
                                <img src="../../../common/image/e1.png">
                            </a>
                        </div>
                    </div>
                    <h3 class="language">
                        <img src="">
                        <span>新建频道</span>
                    </h3>
                </div>
            </div>
            <div class="examplePopup-contain">
                <div class="examplePopup-center">
                    <div class="examplePopup-center-one">
                        <form class="examplePopup-form"  autocomplete="off">
                            <div class="form-list oneName">
                                <span style="letter-spacing: 4px">频道名称</span>
                                <span>：</span>
                                <input type="text" >
                            </div>
                            <p class="formError-one formError judgeMessage1">用户名不能为空</p>
                            <div class="form-list towName">
                                <span style="letter-spacing: 4px">开播时间</span>
                                <span>：</span>
                                <div class="broadcastTime">
                                    <input type="text"  value="00" class="timeFocus" readonly>
                                    <span>:</span>
                                    <input type="text" value="00" readonly>
                                    <span>:</span>
                                    <input type="text" value="00" readonly>
                                </div>
                                <a class="broadcastTime-btn">
                                    <span class="broadcastTime-add">＋</span>
                                    <span class="broadcastTime-reduce">－</span>
                                </a>
                            </div>
                            <p class="formError-one formError judgeMessage2"></p>
                        </form>
                        <div class="creatMessage">
                            <h3>当前频道用户设置</h3>
                            <div class="creatMessage-form">
                                <ul>
                                    <li>
                                        <label>
                                            <input type="checkbox">
                                            <span>admin</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox">
                                            <span>新用户</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox">
                                            <span>admin</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox">
                                            <span>新用户</span>
                                        </label>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="examplePopup-center-tow">
                        <p>
                            <a>频道名称：</a>
                            <span></span>
                        </p>
                        <p>
                            <a >开播时间：</a>
                            <span ></span>
                        </p>
                        <p>
                            <a >频道用户：</a>
                            <span ></span>
                        </p>
                    </div>
                </div>
                <div class="examplePopup-bottom">
                    <a  class="examplePopup-cancel">取消</a>
                    <a  class="examplePopup-sure examplePopup-sure-fail">确定</a>
                    <span class="creatUserDeafult"></span>
                </div>
            </div>
        </div>
    </div>
</div>