<div class="logManage">
    <div class="logManage-head">
        <ul>
            <li class="logActive">日志查看</li>
            <li>日志管理</li>
        </ul>
    </div>
    <div class="logManage-center">
        <div class="logManage-center-look">
            <div class="process-top">
                <div class="process-title">
                    <span>序号</span>
                </div>
                <div class="process-title">
                    <span>操作内容</span>
                </div>
                <div class="process-title">
                    <span>操作时间</span>
                </div>
                <div class="process-title">
                    <span>用户</span>
                </div>
                <div class="process-title">
                    <span>机器IP地址</span>
                </div>
            </div>
            <div class="process-contain">
                <div class="process-list">
                    <ul>

                    </ul>
                </div>
                <div class="process-list">
                    <ul>

                    </ul>
                </div>
                <div class="process-list">
                    <ul>

                    </ul>
                </div>
                <div class="process-list">
                    <ul>

                    </ul>
                </div>
                <div class="process-list" >
                    <ul>

                    </ul>
                </div>
            </div>
            <div class="process-bottom">
                <a>日志记录数量：<span></span></a>
                <ul>
                    <li>
                        <label>
                            <input type="radio" name="logType" checked>
                            <span>用户登录</span>
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="logType">
                            <span>用户管理</span>
                        </label>

                    </li>
                    <li>
                        <label>
                            <input type="radio" name="logType">
                            <span>频道管理</span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="logManage-center-set">
            <div class="section-list section-one">
                <h3>整理设置</h3>
                <div class="section-list-center">
                    <div class="section-list-set">
                        <span>自动清除：</span>
                        <input type="number" name="quantity" min="1"  class="logNumber">
                        <span>天以前的日志</span>
                    </div>
                    <div class="section-list-set-btn">
                        <a class="nowDeleteLog">立即清除</a>
                        <a class="saveSet">保存设置</a>
                    </div>
                    <div class="section-list-set-btn">
                        <a class="outLog">导出</a>
                    </div>
                    <p class="section-tow">
                        <span class="afterSetLog"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>