<div class="example-home localBottom-right-top-center">
    <ul class="tool-fileBtn">
        <!--<li>-->
            <!--<div class="tool-fileBtn-top">-->
                <!--<div class="tool-fileBtn-img">-->
                    <!--<img src="../../images/biao.png">-->
                <!--</div>-->
                <!--<div class="tool-fileBtn-text">-->
                    <!--<h3>Admin</h3>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
    </ul>
</div>
<div class="localback">
    <div class="localback-body">
        <div class="examplePopup">
            <div class="examplePopup-top">
                <div class="examplePopup-title">
                    <div id="toolBar">
                        <div id="toolThree">
                            <a id="close" >
                                <img src="../../../common/image/e1.png">
                            </a>
                        </div>
                    </div>
                    <h3 class="language">
                        <img src="">
                        <span>添加用户</span>
                    </h3>
                </div>
            </div>
            <div class="examplePopup-contain">
                <div class="examplePopup-center">
                    <div class="examplePopup-center-one">
                        <form class="examplePopup-form examplePopup-user-form"  autocomplete="off">
                            <div class="form-list oneName">
                                <span style="letter-spacing: 5px">用户名</span>
                                <span>：</span>
                                <input type="text" >
                                <a>初始密码为"666666"</a>
                            </div>
                            <p class="formError-one formError judgeMessage1"></p>
                            <!--<div class="form-list towName">-->
                            <!--<span >系统权限</span>-->
                            <!--<span>：</span>-->
                            <!--<input type="text" readonly>-->
                            <!--&lt;!&ndash;<a>选择权限</a>&ndash;&gt;-->
                            <!--</div>-->
                            <!--<p class="formError-one formError judgeMessage2"></p>-->
                        </form>
                        <div class="creatMessage">
                            <h3>当前用户权限设置</h3>
                            <div class="creatMessage-form">
                                <ul>
                                    <li>
                                        <label>
                                            <input type="checkbox" data-bite="0x2">
                                            <span>用户管理</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" data-bite="0x4">
                                            <span>存储管理</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" data-bite="0x8">
                                            <span>日志查看</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" data-bite="0x10">
                                            <span>服务监控</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" data-bite="0x20">
                                            <span>审核流程管理</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" data-bite="0x40">
                                            <span>RO数据管理</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="examplePopup-center-tow">
                        <p>
                            <a>用户名：</a>
                            <span></span>
                        </p>
                        <p>
                            <a >用户权限：</a>
                            <span ></span>
                        </p>
                    </div>
                </div>
                <div class="examplePopup-bottom">
                    <a  class="examplePopup-cancel">取消</a>
                    <a  class="examplePopup-sure">确定</a>
                    <span class="creatUserDeafult"></span>
                </div>
            </div>
        </div>
    </div>
</div>
